   

   .message {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 5%;
        width: 30%;
        position: fixed;
        bottom: 10%;
        color: darkred;
        margin-top: 10px;
        background-color: red;
        border-radius: 10px;
        border: solid darkred;
    }
  
    .image-preview {
        margin-top: 10px;
        display: flex;
        flex-wrap: wrap;
        max-width: 50%;
        justify-content: center;
        align-items: center;
    }
  
    .image-preview-container {
        padding: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
  
    .image-preview img {
        width: 100px;
        height: 100px;
        object-fit: cover;
        border-radius: 10px;
        border: 2px solid rgb(66, 66, 66);
    }
  
    .form-container {
        margin-top: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
  
    /* Hiding the standard image input */
    input[type="file"] {
        display: none; 
    }
  
    /* Styles for input image button*/
    .custom-file-upload {
        margin-top: 15px;
        display: inline-block;
        padding: 6px 12px;
        cursor: pointer;
        border: 1px solid white;
        background-color: rgb(33, 33, 33);
        border-radius: 10px;
    }
  
    .title-input {
        margin-top: 20px;
        border: 1px solid white;
        background-color: rgb(33, 33, 33);
        color: white;
        border-radius: 10px;
        padding: 6px 12px;
        width: 25%;
        height: 30px;
        font-size: 20px;
    }
  
    .title-input::placeholder {
        color: white;
        opacity: 0.5;
    }
  
    .text-input {
        max-width: 50%;
        min-width: 50%;
        width: 50%;
        height: 300px;
        min-height: min-content;
        margin-top: 20px;
        border: 1px solid white;
        background-color: rgb(33, 33, 33);
        color: white;
        border-radius: 10px;
        padding: 6px 12px;
        font-size: 14px;
    }
  
    .text-input::placeholder {
        color: white;
        opacity: 0.5;
    }
  
    .text-input::-webkit-scrollbar {
        display: none;
    }
  
    .delete-image-button {
        margin-top: 7px;
        border: 1px solid white;
        background-color: rgb(33, 33, 33);
        color: white;
        border-radius: 10px;
        padding: 6px 12px;
    }
  
    .add-button {
        margin-top: 20px;
        border: 1px solid white;
        background-color: rgb(33, 33, 33);
        color: white;
        border-radius: 10px;
        padding: 6px 12px;
        width: 20%;
        height: 50px;
        display: inline-block;
        cursor: pointer;
    }